
<section class="bar-graph bar-graph-horizontal bar-graph-one">
    <div class="bar-one">
     <a href="#" (click)="submit()"><span class="Fruits">Apples</span></a>
     <a href="#" (click)="list()"> <div class="bar" data-percentage="60%"></div></a>
      <p *ngIf="hidename">{{name}}</p>
    </div>
    <div class="bar-two">
     <a href="#"> <span class="Fruits">Oranges</span></a>
     <a href="#" (click)="listname()"> <div class="bar" data-percentage="20%"></div></a>
      <p *ngIf="hidenames">{{names}}</p>
    </div>
    <div class="bar-three">
      <a href="#"><span class="Fruits">Blackberry</span></a>
     <a href="#" (click)="listfruits()"> <div class="bar" data-percentage="20%"></div></a>
     <p *ngIf="hidelist">{{namelist}}</p>
    </div>
   
  </section>
  <app-countfruits [name]="name"></app-countfruits>
  <app-countfruits [names]="names"></app-countfruits>
  
